name: Publish documentation
on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - 'v*'
      - '[0-9]*'
jobs:
  publish_documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          ssh-key: "${{ secrets.DOCS_SSH_PRIVATE_KEY }}"
      - uses: ./.github/actions/shared-build-setup
      - name: Setup git for SSH push
        env:
          GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
          SSH_PRIVATE_KEY: "${{ secrets.DOCS_SSH_PRIVATE_KEY }}"
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 700 -R ~/.ssh
          eval "$(ssh-agent -s)"
          ssh-add
          ssh git@github.com || true
          git config --global user.name 'GitHub bot'
          git config --global user.email 'tamboui-bot@users.noreply.github.com'
      - name: Publish documentation
        run: ./gradlew :docs:gitPublishPush
